<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div style="background-color: #ffb4a2;" class="container">
    <a class="navbar-brand" [routerLink]="['/admin']" style="font-weight: 700;">
      <i>Forestry management app</i>
    </a>
    <br>

    <button (click)="logout()" style="margin-left: 500px ;background-color: #005f73;" type="button" class="btn btn-outline-warning"> Logout <i  aria-hidden="true"></i>
    </button>
    <button [routerLink]="['/orders']" style="margin-left: 150px; background-color: #005f73; " type="button"
      class="btn btn-success"> ORDERS
      <i class="bi bi-menu-up"></i>
    </button>
  </div>
</nav>
<br>

<body>
  <section class="wrapper">
    
    <div class="container-fostrap">
      <div>
        <h4 class="heading">
          Admin Dashboard
        </h4>
      </div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <!-- <a class="img-card">
                  <img src="{{itemImageUrl}}" />
                </a> -->
                <div class="card-content">
                  <h4 class="card-title">
                    <a> Grocery Management
                    </a>
                  </h4>

                </div>
                <div class="card-read-more">

                  <a [routerLink]="['/maintain-products']" style="background-color: #005f73;"
                    class="btn btn-success">Maintain Grocery</a>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div  class="card">
                <!-- <a class="img-card">
                  <img src="{{itemImageUrl3}}" />
                </a> -->
                <div class="card-content">
                  <h4 class="card-title">
                    <a>Customer Records
                    </a>
                  </h4>

                </div>
                <div class="card-read-more">

                  <a [routerLink]="['/customer-list']" style="background-color:#005f73;"
                    class="btn btn-success">Maintain customer </a>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <!-- <a class="img-card">
                  <img src="{{itemImageUrl2}}" />
                </a> -->
                <div class="card-content">
                  <h4 class="card-title">
                    <a> Land Management
                    </a>
                  </h4>

                </div>
                <div class="card-read-more">
                  <a [routerLink]="['/list-of-lands']" style="background-color: #005f73;"
                    class="btn btn-success">Maintain Land</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>