@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background-color: #f4f1bb;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  display: table;
  height: 300%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

h4.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 800;
  margin: 0 0 0.5em;
  color: #003566;
}
@media (min-width: 450px) {
  h4.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h4.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h4.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
    display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color:#b7e4c7;
    border-radius: 3px;
    border: thick;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.16),0 6px 15px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
    width: 290px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.15);
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: auto;
  height:180px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}
.img-card img{
  width: 80%;
  padding-top: 10%;
  height: 180px;

  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:center;
}
.card-title {
  margin-top:0px;
  font-weight: 600;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

